<!DOCTYPE HTML>
<html>
  <head>
    <title>Rattlebus</title>

    <!-- Bootstrap -->
    <!--<link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">-->
    <meta name="viewport" content="width=320.1, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <!-- D3 -->
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <!-- Google Maps -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIGe5unWNEDISu8fKc27k_vZBQhomjZrU&sensor=true"></script>
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.js"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.min.js"></script>-->
    <script src="/static/angular/gestures.min.js"></script>
    <script src="/static/angular/angular-google-maps.js"></script>
    <script src="/static/angular/angular-local-storage.js"></script>
    <!-- styles -->
    <link href="static/chart.css" rel="stylesheet" media="screen">
    <link href="static/main.css" rel="stylesheet" media="screen">

    <script>
    document.addEventListener(
      'touchmove',
      function(e) {
        e.preventDefault();
      },
      false
    );
    function Segment(){
        this.start_position = new google.maps.LatLng()
        this.end_position = new google.maps.LatLng()
        this.acceleration_data = new Array()
        this.is_uploaded = false;
    }
    
    var App = angular.module("App", ["angular-gestures","google-maps","LocalStorageModule"]);

    App.filter("round", function (){
        return function (number, to_digits){
          return number.toFixed(to_digits);
        }
      });

    App.service('Data', function ($rootScope, localStorageService, $http) {
      // set up localdatastor
      var ls = localStorageService;
      ls.clearAll()

      // set up acceleration measurements
      var rolling_interval = 50;
      var rattle_trigger = 10;

      // set up location measurements
      var center = new google.maps.LatLng();
      var geolocationAvailable = navigator.geolocation ? true : false;

      // set up data struncture
      var segments = {}
      var currentSegmentId = 0;
      
      // send k segments at a time
      var num_segments_to_send = 2;

      console.log("CSID: " + currentSegmentId)
      segments[currentSegmentId] = new Segment()

      function clearSegment (segment_id) {
          console.log("clearing segment id: " + segment_id )
          delete segments[segment_id]
          console.log(segments)
      }
      function incrementCSID(){
        currentSegmentId++
        console.log("CSID is now: " + currentSegmentId)
      }
      function _csid(){
        return currentSegmentId
      }

      return {
        num_segments_to_send: num_segments_to_send,
        uploadSegment: function (segment_id) {
          var data = {}
          data.start_position = segments[segment_id].start_position
          data.end_position = segments[segment_id].end_position
          data.max_acceleration = Math.max.apply(null, segments[segment_id].acceleration_data);
          var postrequest = $http.post("http://localhost:5000/record/99/segment", data)
          postrequest.then(
              function (response) { // on success, clear segment from local data array
                clearSegment(segment_id)
              },
              function (response) {console.log(response)}) // error
        },
        _accel_len: function () {
          return this._accel().length
        },
        _csid: function () {
          // return currentSegmentId
          return currentSegmentId
        },
        _accel: function () {
          // return entire current frame of acceleration data
          return segments[this._csid()].acceleration_data
        },
        getAllSegmentIds: function () {
          keys = []
          for (var key in segments) {
            if (segments.hasOwnProperty(key))
                keys.push(parseInt(key))
          }
          return keys
        },
        getSegmentCount: function () {
          var count = 0;
          console.log(this.getAllSegmentIds())
          for (var key in this.getAllSegmentIds()) {
            count++;
          }
          return count;
        },
        getCurrentAcceleration: function () {
          // return last recorded value
          return this._accel()[this._accel_len()-1]
        },
        getMaximumAcceleration: function () {
          return Math.max.apply(null, this._accel());
        },
        getRollingMaximumAcceleration: function () {
            var slice = this._accel().slice(this._accel_len()-rolling_interval, this._accel_len());
            return Math.max.apply(null, slice);
        },
        recordAcceleration: function (value) {
            $rootScope.$broadcast('data-update', value);
            return segments[this._csid()].acceleration_data.push(value); // returns length of acceleration data
        },
        markPosition: function (position) {
          curr_pos = {
            latitude: position.coords.latitude,
            longitude: position.coords.longitude
          }
          segments[this._csid()].end_position = curr_pos
          console.log("CSID: " + this._csid())
          console.log("start_pos: (" + segments[this._csid()].start_position.latitude + ", " + segments[this._csid()].start_position.longitude + ")")
          console.log("end_pos: (" + segments[this._csid()].end_position.latitude + ", " + segments[this._csid()].end_position.longitude + ")")
          console.log("# measurements: " + this._accel_len())
          console.log("max acceleration this segment: " + this.getMaximumAcceleration())
          
          incrementCSID()
          
          segments[_csid()] = new Segment()
          segments[_csid()].start_position = curr_pos
          segments[_csid()].acceleration_data.push(0)
          console.log(segments)
          console.log("Total number of stored segments: " + this.getSegmentCount())
        }
      }
    }); // end factory // Data

    App.controller("StatsViewer", function ($scope, $rootScope, $window, Data) {
      $scope.data = Data
      $scope.process_motion = function (event){
        $scope.$apply(
          function () {
            x = $scope.data.recordAcceleration(event.acceleration.y);
            if ((x % 100) == 0){
              console.log("Acceleration dataframe length: " + $scope.data._accel_len())
            }
          }
        );
      }
      $rootScope.isMockMode = true
      $rootScope.isRecording = false

      // MOCK FOR TESTING ON DESKTOP ONLY
      $scope.previous_rattle = 0
      $scope.fakeRattle = function () {
          $scope.previous_rattle += (Math.random() - 0.5)*5
          return {acceleration: {y: $scope.previous_rattle}}
      }

      $scope.toggleRecording = function () {
          if ($rootScope.isRecording){
            if ($rootScope.isMockMode) {
              $window.clearInterval($scope.interval_id)
              console.log("clearing mock rattle")
            } else {
              $window.removeEventListener("devicemotion", $scope.process_motion, false);
            }
          } else {
            if ($rootScope.isMockMode){
              $scope.interval_id = $window.setInterval(function () {$scope.process_motion($scope.fakeRattle())}, 50)
              console.log("starting mock rattle")
            } else {
              $window.addEventListener("devicemotion",$scope.process_motion,false);
            }
          }
          $rootScope.isRecording = !$rootScope.isRecording
      }
      $scope.toggleMockMode = function () {
        $rootScope.isMockMode = !$rootScope.isMockMode
        console.log($rootScope.isMockMode)
      }
    }); // end controller
    
    App.controller("Chart", function ($scope, Data) {
      $scope.n = 100;
      var random = d3.random.normal(0, .2);
      $scope.chartdata = d3.range($scope.n).map(random);

      $scope.margin = {top: 2, right: 5, bottom: 2, left: 0}
      $scope.width = 275 - $scope.margin.left - $scope.margin.right,
      $scope.height = 100 - $scope.margin.top - $scope.margin.bottom;

      $scope.x = d3.scale.linear()
                  .domain([0, $scope.n - 1])
                  .range([0, $scope.width]);

      $scope.y = d3.scale.linear()
                  .domain([-20, 20])
                  .range([$scope.height, 0]);

      $scope.line = d3.svg.line()
                  .x(function(d, i) { return $scope.x(i); })
                  .y(function(d, i) { return $scope.y(d); });
    }); // end controller

    App.controller("Map", function ($scope, $rootScope, $window, Data){
      $scope.data = Data
      $scope.center = {
        latitude: 48, // initial map center latitude
        longitude: -113, // initial map center longitude
      }
      $scope.path = [$scope.center]
      $scope.zoom = 15 // the zoom level
      
      $scope.process_position = function (position) {
        $scope.data.markPosition(position);
        if ($scope.data.getSegmentCount() >= $scope.data.num_segments_to_send){
          var segments_to_upload = $scope.data.getAllSegmentIds();
          for (var s in segments_to_upload){
            id = segments_to_upload[s]
            if (id != $scope.data._csid()){
              console.log("uploading segment_id " + id)
              $scope.data.uploadSegment(id)
            }
          }
        }
        $scope.center = {
          latitude: position.coords.latitude,
          longitude: position.coords.longitude
        }
        
        $scope.path.push({
          latitude: position.coords.latitude,
          longitude: position.coords.longitude
        })

        console.log($scope.path)
      }

      var watcher, watcherOptions
      watcherOptions = {
          enableHighAccuracy: true,
          timeout: 5000,
          maximumAge: 5000
      };

      // MOCK MODE
      $scope.previous_lat =  48.6398716
      $scope.fakePosition = function () {
        var p = {coords: {
                    latitude: $scope.previous_lat + (Math.random()/10), 
                    longitude: -113.8742082 + (Math.random()/10)
                  }
                }
        return p
      }
      
      var interval_id
      // This needs to be set up to sync when the variable changes!
      $rootScope.$watch("isRecording", function () {
        if ($rootScope.isRecording){
          if ($rootScope.isMockMode) {
            interval_id = $window.setInterval(function () {$scope.process_position($scope.fakePosition())}, 10000)
            console.log("starting mock geolocation")
          } else {
            watcher = navigator.geolocation.watchPosition($scope.process_position, function () {return false}, watcherOptions);  
          }
        } else {
          if ($rootScope.isMockMode) {
            $window.clearInterval(interval_id)
            console.log("clearing mock geolocation")
          } else {
            navigator.geolocation.clearWatch(watcher)
          }
        }
      }) // end watch
      // for some reason this has to be included as a json-string in the directive below. :(
      // $scope.mopts = {
      //   disableDefaultUI: true,
      //   mapTypeId: google.maps.MapTypeId.ROADMAP
      // }
      $scope.stroke = {
        color: '#000000',
        weight: 3
      }
    }); // end controller

    App.controller("Slider", function ($scope){
      $scope.x_coord = 0;
      $scope.slide = function (to_pixel){
        $scope.x_coord = to_pixel * 320;
      }
    }); // end controller
    
    App.directive("linechart",function (){
      return {
        restrict: "E", 
        link: function (scope, element, attrs){
          var svg = d3.select("#"+element[0].id).append("svg") 
            .attr("width", scope.width + scope.margin.left + scope.margin.right)
            .attr("height", scope.height + scope.margin.top + scope.margin.bottom)
            .append("g")
            .attr("transform", "translate(" + scope.margin.left + "," + scope.margin.top + ")");

          svg.append("defs").append("clipPath")
              .attr("id", "clip")
              .append("rect")
              .attr("width", scope.width)
              .attr("height", scope.height);

          var path = svg.append("g")
              .attr("clip-path", "url(#clip)")
              .append("path")
              .data([scope.chartdata])
              .attr("class", "line")
              .attr("d", scope.line);

          scope.$on("data-update", function (event, value){
            scope.chartdata.push(value);  
            path.attr("d", scope.line)
              .attr("transform", null)
              .transition()
              .duration(100)
              .ease("linear")
              .attr("transform", "translate(" + scope.x(-1) + ")")
            // clear the off-screen values since we do not need to display them
            scope.chartdata.shift()

          });
        }
      }
    }) // end directive

    App.directive("stat", function () {
      return {
        restrict: "A",
        template: '{{value}}',
        scope: {
          value : "="
        },
        link: function (scope, element, attrs){
          scope.$watch("value", function(newval){
            if (newval){
              newval = parseFloat(newval)
              if (newval > attrs.highlight){
                element.addClass(attrs.highlightClass);
              } else {
                element.removeClass(attrs.highlightClass);
              }
            }
          }); // end $watch
        }
      }
    }); // end directive

    App.directive("hbar", function (){
      return {
        restrict: "E",
        template: '<div class="hbar"></div>',
        scope: {
          value: "="
        },
        replace: true,
        link: function (scope, element, attrs){
          scope.$watch("value", function(newval){
            if (newval){
              newval =  parseFloat(newval)
              width = newval * 10  + 10
              if (width > attrs.maxWidth){
                width = attrs.maxWidth;
              }
              $(element).attr("width", width);
              if (newval > parseFloat(attrs.highlight)){
                $(element).addClass(attrs.highlightClass);
              } else {
                $(element).removeClass(attrs.highlightClass);
              }
            }
          }); // end scope
        } // end link
      }
    }); // end directive

    </script>
  </head>
  <body>
    <div class='panel centered'><img src='static/logo.png' width="50%" /></div>
    <div ng-app="App">
      <div ng-controller='StatsViewer'>
        <div class='panel shaded'>
          <div class='statcontainer'>
            <div class='statlabel'>CURRENT</div>
              <div class='bigstat'>
                <span stat style='font-weight: bold;' highlight="10" highlight-class='red' value="data.getRollingMaximumAcceleration() | round:2"></span> m/s<sup>2</sup>
                <hbar class='fast' value="data.getRollingMaximumAcceleration()" highlight="10" highlight-class='red' max-width="240"></hbar>
              </div>
          </div>
          <div class='statcontainer'>
            <div class='statlabel'>MAX</div>
              <div class='bigstat'>
                <span stat style='font-weight: bold;' highlight="10" highlight-class='red' value="data.getMaximumAcceleration() | round:2"></span> m/s<sup>2</sup>
                <hbar value="data.getMaximumAcceleration()" highlight="10" highlight-class='red' max-width="240"></hbar>
              </div>
          </div>
        </div>
    </div><!-- end controller -->
    <div id='sliderbox-container' ng-controller='Slider'>
      <div id='sliderbox-slider' ng-style="{'-webkit-transform': 'translateX(' + x_coord + 'px)'}">
      <div class='panel shaded' hm-swipe-left="slide(-1)">
        <div ng-controller='Chart'>
            <linechart id='chart'></linechart>
        </div>
      </div>
      <div class='panel shaded' hm-swipe-right="slide(0)" hm-swipe-left="slide(-2)">
        <div ng-controller='Map'>
            <div class='google-map'
                 center="center"
                 events="events"
                 draggable="false"
                 zoom="zoom"
                 mark-click="false">
            <polyline path="path" stroke="stroke" fit="true" />
          </div>
        </div>
      </div>
      <div class='panel shaded' hm-swipe-right="slide(-1)">
        I am the FFT!
      </div>
      </div>
      <div class='panel centered'>
        <button ng-click="slide(0)">Real-Time view</button> 
        <button ng-click="slide(-1)">Map view</button>
      </div>

    </div>

    <div class='panel centered'>
      <div ng-controller='StatsViewer'>
        <!-- <button type='button' class='btn btn-success btn-large' ng-click='toggleRecording()'>Start Recording</button> -->
        <button class="btn btn-large" ng-class="{true: 'btn-success', false: 'btn-danger'}[!isRecording]" ng-click="toggleRecording()">
          {{!isRecording && 'Start' || 'Stop'}} Recording</button>
        <input type="checkbox" ng-model='isMockMode' ng-change='toggleMockMode()'/> Mock Mode
      </div>
    </div>
    </div>
    <!-- JavaScript plugins (requires jQuery) -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!--<script src="static/bootstrap/js/bootstrap.min.js"></script>     -->
  </body>
</html>